*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#pictures {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
 #img-text{
  font-size: larger;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-around
 }

h1 {
  font-size: 700%;
  padding: 50px;
  text-align: center;
  background: #13293d;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  margin: 10%;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  display: inline;
  cursor: grab;
}

footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  h1, footer {
  background: #772014;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
}