*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header, footer {
  width: 100%;
  border: 2px solid red;
}

header h1 {
  border: 2px solid red;
  font-size: 700%;
  padding: 50px;
  text-align: center;
  background: #13293d;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul{
text-align: end;
font-size: large;
margin-right: 10px;
}

.section-container {
  width: 100%;
  
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  justify-content: start;
  position: relative;
  
  
}
.section-container img {
width: 20%;
z-index: 1;
border-radius: 100%;

justify-content: center;
  
}
.section-container h2 {
  position: absolute;
  z-index: 1;
  font-size: 100%;
}

img {
  width: 50%;
  position: relative;
}

footer {
  width: 100%;
  height: 10rem;
  border: 2px solid red;
  text-align: center;
  margin-top: 20pt;
  display: flex;
}

.footnote {
margin-top: 70pt;
margin-left: 20pt;
justify-content: flex-end;
}