@import "./color.css";
@import "./common.css";
@import "./header.css";
@import "./aside.css";
@import "./content.css";
@import "./contactForm.css";

body{
  margin: 10px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 70%;
  }

  .navbar {
    display: flex;
    justify-content: center;
    background-color: var(--color-primary);
  }
  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  .navbar a:hover {
    background-color: var(--color-primary-dark);
  }

@media screen and (max-width: 768px) {
  .navbar,
  .row {
    flex-direction: column;
  }
}